@import '../../variables.module.scss';

.searchBoxContainer {
  width: 100%;
  display: flex;
  position: relative;

  & input[type='text'] {
    padding-left: 25px;
  }

  & .searchIcon {
    position: absolute;
    left: 8px;
    top: 10px;
    color: $accent-color-1;
  }
}
