@import './variables.module.scss';

.inputBar {
  width: 100%;
  box-shadow: $box-shadow-1;
  border: 1.5px solid $accent-color-1;
  padding: 5px;
  height: 20px;
  border-radius: 3px;
  outline: none;
  background-color: $base-color-2;
  color: $text-color-1;
}

.button {
  background-color: $base-color-2;
  border: 2px solid $accent-color-1;
  border-radius: 3px;
  color: $text-color-1;

  &:active {
    background-color: $accent-color-1;
  }

  &:hover {
    border-color: $text-color-1;
  }
}
